<div class="content">
  <div class="current-year-percentaje-container">
    <div class="current-year-container">
      <p class="current-year theme-transition-effect">{{ currentYear }}</p>
    </div>

    <h3>
      El porcentaje actual del año es del
      <span class="current-day-percentaje">{{ currentDayPercentaje }}%.</span>
    </h3>

    <app-year-progress-bar [currentDayPercentaje]="currentDayPercentaje || 0">
    </app-year-progress-bar>

    <h3 class="remaining-days">
      Hoy es {{ currentDate }}, aún quedan {{ remainingDays }} dias antes de que
      se acabe el año.
    </h3>
  </div>
  <app-messages></app-messages>
</div>
