<div class="content">
  <div class="current-year-percentaje-container">
    <div class="current-year-container">
      <p class="current-year theme-transition-effect">{{ currentYear }}</p>
    </div>

    <h3>
      {{ "HOME.YEAR_CURRENT_PERCENTAJE" | translate }}
      <span class="current-day-percentaje">{{ currentDayPercentaje }}%.</span>
    </h3>

    <app-year-progress-bar [currentDayPercentaje]="currentDayPercentaje || 0">
    </app-year-progress-bar>

    <h3 class="remaining-days">
      {{ "HOME.REMAINING_DAYS_TEXT_1" | translate }} {{ currentDay }}
      {{ "HOME.REMAINING_DAYS_TEXT_2" | translate }} {{ currentMonth }},
      {{ "HOME.REMAINING_DAYS_TEXT_3" | translate }} {{ remainingDays }}
      {{ "HOME.REMAINING_DAYS_TEXT_4" | translate }}
    </h3>
  </div>
  <app-messages></app-messages>
</div>
