.current-year-container {
  max-width: 600px;
  min-width: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.current-year {
  letter-spacing: 15px;
  font-size: 10vw;

  background-image: linear-gradient(to right, #9381ff, #b8b8ff);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
