.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.progress-bar-container {
  width: 70vw;
  height: 20px;
  background-color: var(--progress-bar-background-color);
  border-radius: 10px;
}

.progress-bar {
  height: 100%;
  line-height: 20px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    var(--progress-bar-first-color),
    var(--progress-bar-second-color)
  );

  border-radius: 10px;
}
