.container {
  flex-direction: column;
  gap: 5px;

  max-width: 800px;
}

.message-container {
  border: 1px solid black;
  padding: 10px;
  animation-name: slide-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;

  margin-left: 15px;
  margin-right: 15px;

  text-align: center;
  font-size: medium;

  max-width: 800px;

  border-style: dotted;
  border-width: 2px;
  border-image: linear-gradient(
      to right,
      var(--messages-border-first-color),
      var(--messages-border-second-color),
      var(--messages-border-third-color)
    )
    1;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

.message-progress-bar-container {
  width: 90%;
  height: 5px;

  background-color: var(--message-progress-bar-background-color);

  border-radius: 10px;
}

.message-progress-bar {
  height: 100%;
  line-height: 20px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    var(--message-progress-bar-first-color),
    var(--message-progress-bar-second-color),
    var(--message-progress-bar-third-color)
  );

  border-radius: 10px;
}
