.message-container {
  border: 1px solid black;
  padding: 10px;
  animation-name: slide-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;

  margin-left: 15px;
  margin-right: 15px;

  text-align: center;
  font-size: medium;

  max-width: 800px;

  border-style: dotted;
  border-width: 2px;
  border-image: linear-gradient(to right, #9381ff, #b8b8ff, blue) 1;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
