.app-container {
  height: 100vh;
  width: 100vw;

  background-color: var(--background-color);
  color: var(--text-color);

  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.app-header {
  grid-area: header;
}

.main-content {
  grid-area: content;
}

.app-footer {
  grid-area: footer;
}

@media screen and (max-width: 768px) {
  .app-container {
    grid-template-rows: 50px 1fr 150px;
  }
}
