* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-transition-effect {
  transition: background-color 0.5s ease;
}

.light-theme {
  --background-color: #f8f7ff;
  --text-color: #000;

  --current-year-first-color: #9381ff;
  --current-year-second-color: #ff00ff;

  --progress-bar-background-color: #e3f2fd;
  --progress-bar-first-color: #9381ff;
  --progress-bar-second-color: #ff00ff;

  --messages-border-first-color: #9381ff;
  --messages-border-second-color: #b8b8ff;
  --messages-border-third-color: #0000ff;

  --toggle-theme-button-color: #03071e;
  --toggle-theme-text-color: #fff;

  --message-progress-bar-background-color: #e3f2fd;
  --message-progress-bar-first-color: #9381ff;
  --message-progress-bar-second-color: #7209b7;
  --message-progress-bar-third-color: #f72585;
}

.dark-theme {
  --background-color: #03071e;
  --text-color: #fff;

  --current-year-first-color: #38a3a5;
  --current-year-second-color: #386fa4;

  --progress-bar-background-color: #e3f2fd;
  --progress-bar-first-color: #22577a;
  --progress-bar-second-color: #38a3a5;

  --messages-border-first-color: #38a3a5;
  --messages-border-second-color: #22577a;
  --messages-border-third-color: #b9fbc0;

  --toggle-theme-button-color: #f8f7ff;
  --toggle-theme-text-color: #000;

  --message-progress-bar-background-color: #e3f2fd;
  --message-progress-bar-first-color: #22577a;
  --message-progress-bar-second-color: #57cc99;
  --message-progress-bar-third-color: #7209b7;
}
